*,*:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #3C6BE0;
  font-family: Roboto, sans-serif;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 40%;
}

h1 {
  font-size: 1.8em;
  font-weight: 700;
  padding-bottom: 5px;
}
